@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import "tailwindcss";
body {
  background: rgb(247, 241, 232);
  font-family: "Raleway", sans-serif;
}
.side-bottom a {
  padding: 10px 0;
}
.slant {
  font-family: "Playfair", serif;
  font-size: 3rem;
  font-weight: 300;
  font-style: italic;
}

@media (min-width: 768px) {
  .slant {
    font-size: 5rem;
  }
}
/* f7f1e8 */
/* 4a4741 */
